h1 {
    font-family: 'Oswal', sans-serif;
    text-align: center;
  }
  ul {
    font-family: 'Fira Sans', sans-serif;
  }

.goal-1 {background-color: lightblue}
.goal-2 {background-color: lightgoldenrodyellow}
.goal-3 {background-color: lightblue}
.goal-4 {background-color: lightgoldenrodyellow}

a {
    text-decoration: none;
    color: rgb(167,1,78)
}

a:hover{
    text-decoration: underline;
    color: purple;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px; 
}

body {
    text-align: center;
}